body {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(228, 225, 225);
}
header {
  text-align: center;
}
section > h2 {
  padding: 10px 0;
  border: 1px solid grey;
}

/* article > h4 {
margin-left: 25px;
}*/

article > p {
  margin-left: 45px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 25px;
}

.tab {
  display: inline-block;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: rgb(117, 117, 246);
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 24px;
}

/* Media query untuk perangkat dengan lebar layar maksimum 600px (hp) */
@media only screen and (max-width: 600px) {
  /* Gaya khusus untuk perangkat dengan lebar layar maksimum 600px di sini */
  article > p {
    margin-left: 18px;
    font-size: 14px;
  }
}