body {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(228, 225, 225);
}
header {
  text-align: center;
}
section > h2 {
  padding: 10px 0;
  border: 1px solid grey;
}
/* article > h4 {
margin-left: 25px;
}
article > p {
margin-left: 45px;
} */
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 25px;
}

.tab {
  display: inline-block;
  margin: 0 20px;
}
